@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111112;
  color: #ffffff;
}

p{
  color: #888888;
}
h1, h2, h3{
  color:  #ffffff;
}

.active {
  color: #24fe41;
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-slide{
  animation: slide 16s linear infinite;
  transition: ease-in-out;
}