@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111112;
  color: #ffffff;
}

p{
  color: #888888;
}
h1, h2, h3{
  color:  #ffffff;
}

.active {
  color: #24fe41;
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-slide{
  animation: slide 16s linear infinite;
  transition: ease-in-out;
}
.content-html a{
    color: rgb(59 130 246 / 1);
}
.content-html a:hover {
  color: #24fe41;
  transition: .4s ease-in-out;
}
.content-html a:visited {
    color: rgb(147 51 234 );
}